body{
	background-size: cover;
	background-attachment: fixed;
}

#header{
    margin-top: 7vh;
    text-align: center;
    font-size: 3em;
}

#barra
{
    font-size: 2em;
    text-align: center;
    width: 35vw;
    margin-top: 15vh;
    margin-left: 32vw;
    border-radius: 4vh;
}
#barra:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#mapa img {
    max-width: 100%;
    height: auto;
}

.celda_resultado
{
    text-align: center;
    height:5vh;
    font-size: 150%;
    margin-top:0;
    margin-bottom: 0;
    width:40vw;
    border-radius: 10px;
}

.celda_resultado:hover
{
    background-color: rgb(218, 218, 218);
    cursor:pointer;
}

#resultados_busqueda
{
    height:25vh;
    display:flex;
    align-items: center;
    flex-direction: column;
    
    
}